<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books Count by Category</title>
</head>
<body>
    <h1>Number of Books in Category "{{ category }}": {{ count }}</h1>
</body>
</html>
